<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">INFORME DATOS COVID 19</span>
                    <button class="btn btn-success float-end" routerLink="/crear-informe">NUEVO</button>
                    <table class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Año</th>
                          <th scope="col">Codigo de Territorio</th>
                          <th scope="col">Nombre de Territorio</th>
                          <th scope="col">Cantidad de Dosis Aplicadas</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2021</td>
                          <td>23</td>
                          <td>Córdoba</td>
                          <td>6</td>
                          <td>
                            <i class="fa-regular fa-pen-to-square text-primary"></i>
                            <i class="fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>2021</td>
                          <td>70</td>
                          <td>Sucre</td>
                          <td>12</td>
                          <td>
                            <i class="fa-regular fa-pen-to-square text-primary"></i>
                            <i class="fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
