<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">INFORME DATOS COVID 19</span>
                    <button class="btn btn-success float-end" routerLink="/crear-informe">NUEVO</button>
                    <table *ngIf="listInformes.length > 0" class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Año</th>
                          <th scope="col">Codigo de Territorio</th>
                          <th scope="col">Nombre de Territorio</th>
                          <th scope="col">Cantidad de Dosis Aplicadas</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let informe of listInformes">
                          <td>{{ informe.a_o }}</td>
                          <td>{{ informe.cod_territorio }}</td>
                          <td>{{ informe.nom_territorio }}</td>
                          <td>{{ informe.cantidad_dosis_aplicadas }}</td>
                          <td>
                            <i [routerLink]="['/editar-informe', informe._id]" class="fa-regular fa-pen-to-square text-primary"></i>
                            <i (click)="eliminarInforme(informe._id)" class="fa-solid fa-trash text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listInformes.length == 0">No hay informes para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
